/*
Theme Name: CodeDiller
Author: CodeDiller
Author URI: http://codediller.com/
Version: 1.0
*/

/*
* Main colors
* black : #222;
* blue : #046380;
* green : #002F2F;
* sand : #E6E2AF
* sand dark : #A7A37E
* sand light : #EFECCA
*/

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/subset-Roboto-Bold.woff2') format('woff2'),
    url('assets/fonts/subset-Roboto-Bold.woff') format('woff'),
    url('assets/fonts/subset-Roboto-Bold.ttf') format('truetype'),
    url('assets/fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/subset-Roboto-Regular.woff2') format('woff2'),
    url('assets/fonts/subset-Roboto-Regular.woff') format('woff'),
    url('assets/fonts/subset-Roboto-Regular.ttf') format('truetype'),
    url('assets/fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/subset-Roboto-Black.woff2') format('woff2'),
    url('assets/fonts/subset-Roboto-Black.woff') format('woff'),
    url('assets/fonts/subset-Roboto-Black.ttf') format('truetype'),
    url('assets/fonts/subset-Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/subset-Roboto-Light.woff2') format('woff2'),
    url('assets/fonts/subset-Roboto-Light.woff') format('woff'),
    url('assets/fonts/subset-Roboto-Light.ttf') format('truetype'),
    url('assets/fonts/subset-Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.65em;
    font-size: 14px;
    color: #222;
}

a,
a:hover,
a:active,
a:focus{
    text-decoration: none;
}

/*General layout*/

.container{
    width: 100%;
    max-width: calc(100% - 136px);
    margin-left:68px;
    margin-right:68px;
}
.row{
    width: calc(100% + 20px);
    margin-right: -10px;
    margin-left: -10px;
}
.row::after,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.-col-2, .-col-3, .-col-4,
.-col-5, .-col-6, .-col-7,
.-col-8, .-col-9, .-col-10,
.-col-11, .-col-12, .-col-1{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
}
.-col-1{
    max-width: calc(100% / 12 * 1);
}
.-col-2{
    max-width: calc(100% / 12 * 2);
}
.-col-3{
    max-width: calc(100% / 12 * 3);
}
.-col-4{
    max-width: calc(100% / 12 * 4);
}
.-col-5{
    max-width: calc(100% / 12 * 5);
}
.-col-6{
    max-width: calc(100% / 12 * 6);
}
.-col-7{
    max-width: calc(100% / 12 * 7);
}
.-col-8{
    max-width: calc(100% / 12 * 8);
}
.-col-9{
    max-width: calc(100% / 12 * 9);
}
.-col-10{
    max-width: calc(100% / 12 * 10);
}
.-col-11{
    max-width: calc(100% / 12 * 11);
}
.-col-12{
    max-width: 100%;
}

/*Header*/
.site-header{
    padding: 26px 0;
    background-color: rgba(239, 236, 202, 0.3);;
    border-bottom: 1px solid #EFECCA;
}
.site-header .site-logo{
    float:left;
    text-align: center;
}
.site-header .site-logo h2{
    font-weight: 900;
    font-size: 26px;
    color: #046380;
}
.site-header .site-logo h4{
    color: #A7A37E;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 100%;
    padding-top: 3px;
}
.site-header .site-navigation{
    float: right;
}
.site-header ul{
    list-style: none;
}
.site-header ul li a{
    color: #A7A37E;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    transition: .3s;
}
.site-header ul li a:hover{
    color: #046380;
    transition: .3s;
}

/*Archive*/
.archive-page {
    padding: 55px 0;
}
.archive-page .post-in-archive{
    margin-bottom: 55px;
    padding-bottom: 5px;
    background-color: rgba(239, 236, 202, 0.2);
}
.post-in-archive .proj-gallery{
    max-height: 288px;
    overflow: hidden;
}
.post-in-archive img{
    transition: .3s;
    width: 100%;
    height: 100%;
    min-height: 288px;
    max-height: 288px;
    object-fit: cover;
}
.post-in-archive img:hover{
    transition: .3s;
    transform: scale(1.1);
}
.post-in-archive .post-header a{
    font-size: 42px;
    color: #046380;
    line-height: 50px;
    font-weight: 300;
    padding: 21px 34px 0;
    display: table;
}
.post-in-archive .post-description{
    font-weight: 300;
    margin: 21px 34px 34px;
    max-height: 183px;
    min-height: 183px;
    overflow: hidden;
}

/*Footer*/
.site-footer{
    padding: 42px 0;
    background-color: #046380;
}
.site-footer .copyright,
.site-footer .site-navigation a{
    color: #EFECCA;
}
.site-footer .copyright{
    float: left;
}
.site-footer .site-navigation ul{
    list-style: none;
}
.site-footer .site-navigation a{
    text-transform: uppercase;
    font-size: 13px;
    float: right;
}